/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */
button#site {
    /*Site button */
}

button#grid {
    /*Grid button */
}

button#show {
    /*show button */
}

button#map {
    /*map button */
}

#components {
    /*The "components" label*/
}

#mainSideBarTools {
    /* This is the "Tools" label in the sidebar. */
    font-weight: 700;
    font-size: 24px;
    color: black;
    position: absolute;
    top: 20px;
    left: 800px;
}
.mainSideBar {
    /*Tool buttons in base*/
    position: absolute;
    top: 80px;
}

