#showdiv-show{
  position:absolute;
  top: 690px;
  left:5px;
  width:370px;
  height: 60px;
  background-color: gainsboro;
  font-size: 20px;
  font-weight: bold;
}

#showdiv-export{
  position:absolute;
  top: 690px;
  left:390px;
  width:265px;
  height: 60px;
  background-color: gainsboro;
  font-size: 20px;
  font-weight: bold;
}

#simres {
  position: absolute;
  top: 10px;
  left: -312px;
  font-weight: bold;
  font-size: 16px;
} 

#observations {
  position: absolute;
  top: 10px;
  left:15px;
  font-weight: bold;
  font-size: 16px;
} 

#createplot {
  position: absolute;
  top: 150px;
  left:15px;
  font-weight: bold;
  font-size: 16px;
} 

#repavg {
  position: absolute;
  top: 112px;
  left: 155px;
  font-size: 16px;
} 

#showdiv-averagep {
  position: absolute;
  top: 98px;
  left: 142px;
}

#showdiv-experimentID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 518px;
    position: absolute;
    top: 18px;
    left:120px;
}

#showdiv-treatmentID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 518px;
    position: absolute;
    top: 60px;
    left:120px;
}

#showdiv-groupID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 485px;
    position: absolute;
    top: 620px;
    left:140px;
}

#showdiv-groupID_container .control-label{
    position: absolute;
    top: 642px;
    right: 405px;
}

#showdiv-experimentID_container .control-label{
    position: absolute;
    top: 40px;
    right: 421px;
}

#showdiv-treatmentID_container .control-label{
    position: absolute;
    top: 80px;
    right: 421px;
}

#showdiv-table-output_container{
  position: absolute;
  top: 180px;
}
