/*#showdiv-outputSelection {
  top: 30px;
  left: -25px;
}
#showdiv-outputSelection .th{
  visibility: hidden;
}*/

#DataTables_Table_0_wrapper .dataTables_wrapper.no-footer {
  position: absolute;
  left: -15px;
  width: 280px;
}


/*#DataTables_Table_0 {
  position: absolute;
  top: 30px;
  background-color: white;
  border-collapse: collapse;
}*/

#DataTables_Table_0_filter .dataTables_filter {
 position: absolute;
 top: 720px;
 left: -50px;
}

/*sorszamozast kiszedi*/
#DataTables_Table_0 td:nth-child(1) {
  display:none;
}

.table.dataTable tr.selected td {
  background-color: rgb(166,202,240) !important;
}


.selected-rows_showdiv_table_output {
  background-color: rgb(166,202,240);
  border: 0;
}

#showdiv-table-output:not(.selected-rows_showdiv_table_output) {
    background-color: #FFFFFF
}

#showdiv-table-output {
    border-collapse: collapse;
}

#showdiv-table-output_container {
    height: 450px;
    overflow-y: scroll;
    width:640px;
}

#showdiv-table-output-header {
    position: absolute;
    width: 640px;
    top: 185px;
}

#showdiv-table-output-header th:nth-child(1){
    cursor: pointer;
}

#showdiv-table-output td {
  text-align: left;
  border-right: solid;
    border-width:1px;
    border-color: gray;
  font-size: 16px;
}

#showdiv-table-output th {
    border-right: solid;
    border-width:1px;
    border-color: gray;
    font-size: 16px;
    text-align:left;
    background-color: rgb(192,192,192);
    height: 30px;
    padding-left: 5px;
    
}

/* #show-table-output  td:nth-child(1) {
#showdiv-table-output:not(th:nth-child(1)),td:nth-child(1) {
  width: 250px;
  border-right: solid;
}*/


#showdiv-table-output td {  
  padding-left: 10px;
  width: 150px;
}
#showdiv-table-output td:nth-child(1) {  
  padding-left: 10px;
  width: 310px;
}
/*#showdiv-table-output td:nth-child(1) {  
  padding-left: 10px;
  width: 300px;
}
#showdiv-table-output td:nth-child(1) {  
  padding-left: 10px;
  width: 300px;
}
#showdiv-table-output td:nth-child(1) {  
  padding-left: 10px;
  width: 300px;
}*/

#showdiv-table-output td {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#showdiv-table-output th:nth-child(1) {
  cursor: pointer;
}

#showdiv-table-output td {
  cursor: pointer;
}

#showdiv-table-output tr:nth-child(even):not(.selected-rows_showdiv_table_output) {
    background-color: #f9f9f9;
    border-top-color: #dddddd;
    border-bottom-color: #dddddd;
   /* border-top: solid;
    border-bottom: solid;*/
}

#show-table-output th {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/* // Alternative row selections : The first is part of my css model, It is faster than the original. 

.rowHR-4 .colHR-2 {
  background-color : #AAFF00;
}

tr:nth-child(4) td:nth-child(2) {
  background-color : blue;
}
*/
#show-table-output tr:nth-child(even){background: #CCC}

#showdiv-table-output_container {
	  margin-top: 30px;
}
