/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */
#sitediv-stationp_container{
    position: absolute;
    top: 180px;
    right: -105px;
    font-size: 17px;
}

#sitediv-sitep_container{
  position: absolute;
  top: 280px;
  right: -105px;
  font-size: 17px;

    
}

/* #sitediv-planting_container .control-label {
	position: absolute;
	left: 10px;
}*/

#sitediv-manModuls_container{
  position: absolute;
  top: 460px;
  left: 2px;
  font-size: 16px

    
}
#sitediv-shiftIn_container{
  position: absolute;
  top: 460px;
  right: 15px;
  font-size: 16px;
    
}
#sitediv-planting_container{

    
             }
#sitediv-harvest_container{

    
             }
#sitediv-fertilization_container{

    
             }
#sitediv-irrigation_container{

    
             }
#sitediv-cultivation_container{

    
             }
#sitediv-grazing_container{

    
             }
#sitediv-mowing_container{

    
             }
#sitediv-thinning_container{

    
             }
#sitediv-outputFile{

    
}
#sitediv-Buttons{

    
}
#sitediv-popRun{

    
}
#sitediv-Show{

    
}
#sitediv-planshift_date_container{

    
}
#sitediv-planshift_density_container{

    
}
#sitediv-harvshift_date_container{

    
}
#sitediv-fertshift_date_container{

    
}
#sitediv-irrshift_date_container{

    
}
#sitediv-fertshift_amount_container{

    
}
#sitediv-irrshift_amount_container{

    
}
