/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */
#sitediv-iniFile_container .control-label{
    position: absolute;
    top: 20px;
    
}

#sitediv-iniFile_container .selectize-control.shinyjs-resettable.single .selectize-input{
    position: absolute;
    top: 25px;
    left:-1px;
    
}



#sitediv-weatherFile_container .control-label{
    position: absolute;
    top: 95px;
    
   
}

#sitediv-weatherFile_container .selectize-control.shinyjs-resettable.single .selectize-input{
    position: absolute;
    top: 100px;
    left:-1px;
    
   
}

#sitediv-soilFile_container .control-label{
    position: absolute;
    top: 165px;
    
   
}

#sitediv-soilFile_container .selectize-control.shinyjs-resettable.single .selectize-input{
    position: absolute;
    top: 170px;
    left:-1px;
    
   
}
#sitediv-managementFile_container .control-label{
    position: absolute;
    top: 235px;
    
    
}
#sitediv-managementFile_container .selectize-control.shinyjs-resettable.single .selectize-input{
    position: absolute;
    top: 240px;
    left:-1px;
    
    
}

#sitediv-stationp_container{
    position: absolute;
    top: 79px;
    right: -165px;
    font-size: 17px;
}

#sitediv-sitep_container{
  position: absolute;
  top: 149px;
  right: -165px;
  font-size: 17px;
}

#manModuls{
  position: absolute;
  top: 295px;
  left: 2px;
  font-size: 16px;
}

#shiftIn{
  position: absolute;
  top: 295px;
  left: 570px;
  font-size: 16px;
}
/*#sitediv-planting_container{
  position: absolute;
  top: 400px; 
  }*/
             
#sitediv-planting_container .control-label {
  position: absolute;
  top: 327px;
  right: 730px;
  font-size: 17px;
}

#sitediv-planting_container .selectize-control.single .selectize-input {
  position: absolute;
  top: 309px;
  left: 105px;
  width: 450px;
}

/*#sitediv-harvest_container{
  position: absolute;
  top: 450px;
             }*/ 
#sitediv-harvest_container .control-label{
  position: absolute;
  top: 367px;
  right: 730px;
  font-size: 17px;
}

#sitediv-harvest_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 347px;
  left: 105px;
  width: 450px;
}

/*#sitediv-fertilization_container{
  position: absolute;
  top: 500px;
} */

#sitediv-fertilization_container .control-label{
  position: absolute;
  top: 405px;
  right: 730px;
  font-size: 17px;
}

#sitediv-fertilization_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 385px;
  left: 105px;
  width: 450px;
}

/*#sitediv-irrigation_container{
  position: absolute;
  top: 550px;
} */

#sitediv-irrigation_container .control-label{
  position: absolute;
  top: 443px;
  right: 730px;
  font-size: 17px;
}

#sitediv-irrigation_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 423px;
  left: 105px;
  width: 450px;
}

/*#sitediv-cultivation_container{
  position: absolute;
  top: 600px;
} */

#sitediv-cultivation_container .control-label{
  position: absolute;
  top: 481px;
  right: 730px;
  font-size: 17px;
}

#sitediv-cultivation_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 461px;
  left: 105px;
  width: 450px;
}

/*#sitediv-grazing_container{
  position: absolute;
  top: 650px;
} */

#sitediv-grazing_container .control-label{
  position: absolute;
  top: 519px;
  right: 730px;
  font-size: 17px;
}

#sitediv-grazing_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 499px;
  left: 105px;
  width: 450px;
}

/*#sitediv-mowing_container{
  position: absolute;
  top: 700px;
} */

#sitediv-mowing_container .control-label{
  position: absolute;
  top: 557px;
  right: 730px;
  font-size: 17px;
}

#sitediv-mowing_container .selectize-control.single .selectize-input{
  top: 537px;
  left: 105px;
  width: 450px;
}

/* #sitediv-thinning_container{
  position: absolute;
  top: 750px;
} */

#sitediv-thinning_container .control-label{
  position: absolute;
  top: 595px;
  right: 730px;
  font-size: 17px;
}

#sitediv-thinning_container .selectize-control.single .selectize-input{
  position: absolute;
  top: 521px;
  left: 105px;
  width: 450px;
}

#sitediv-outputFile{
  position: absolute;
  top: 638px;
  width:900px;
}

/*#sitediv-Buttons{
  position: absolute;
  top: 710px;
} */

#sitediv-popRun-runModel{
  position: absolute;
  top:700px;
  left:0px;
  width:435px;
  background-color: gainsboro;
}

#sitediv-Show{
  position: absolute;
  top:700px;
  left:465px;
  width:435px;
  background-color: gainsboro;
}

#sitediv-planshift_date_container .form-control{
  position: absolute;
  top: 321px;
  left: 645px;
   width: 65px;
}


#sitediv-planshift_date_container label{
  position: absolute;
  top: 327px;
  left: 570px;
   
}

#sitediv-planshift_density_container .form-control{
  position: absolute;
  top: 321px;
  right: -65px;
  width: 65px;
}

#sitediv-planshift_density_container label{
  position: absolute;
  top: 327px;
  right: 2px;
}


#sitediv-harvshift_date_container .form-control{
  position: absolute;
  top: 361px;
  left: 645px;
  width: 65px;
}

#sitediv-harvshift_date_container label{
  position: absolute;
  top: 367px;
  left: 570px;
}


#sitediv-fertshift_date_container .form-control{
  position: absolute;
  top: 399px;
  left: 645px;
  width: 65px;
}

#sitediv-fertshift_date_container label{
  position: absolute;
  top: 405px;
  left: 570px;
}


#sitediv-irrshift_date_container .form-control{
  position: absolute;
  top: 437px;
  left: 645px;
  width: 65px;
}

#sitediv-irrshift_date_container label{
  position: absolute;
  top: 443px;
  left: 570px;
}


#sitediv-fertshift_amount_container .form-control{
  position: absolute;
  top: 399px;
  right: -65px;
  width: 65px;
}

#sitediv-fertshift_amount_container label{
  position: absolute;
  top: 405px;
  right: 2px;
}


#sitediv-irrshift_amount_container .form-control{
  position: absolute;
  top: 437px;
  right: -65px;
  width: 65px;
}

#sitediv-irrshift_amount_container label{
  position: absolute;
  top: 443px;
  right: 2px;
}

#sitediv-littleblackline {
  position: absolute;
  top: 295px;
  height: 1px;
  background-color: black;
  width: 552px;
  color: black;
  
}

#sitediv-littleblacklinetwo {
  position: absolute;
  top: 295px;
  left: 570px;
  height: 1px;
  background-color: black;
  width: 324px;
  color: black;
  
}
/*#sitediv-outFile .control-label{
    position: absolute;
    top: 550px;
    
}

#sitediv-outFile_container .selectize-control.shinyjs-resettable.single .selectize-input{
    position: absolute;
    top: 560px;
    
}/*

