/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */



#site {
    /*Site button */
    position: absolute;
    top: 60px;
    left: -30px;
    height: 300px;
    width: 300px;
    border: 0px;
    /*border: 4px solid gray;*/
}

#grid {
    /*Grid button */
    position: absolute;
    top: 60px;
    left: 300px;
    /*filter: grayscale(100%);*/
    height: 300px;
    width: 300px;
    border: 0px;
}

#show {
    /*show button */
    position: absolute;
    top: 370px;
    left: -30px;
    height: 300px;
    width: 300px;
    border: 0px;
}

#map {
    /*map button */
    position: absolute;
    top: 370px;
    left: 300px;
    /*filter: grayscale(100%);*/
    height: 300px;
    width: 300px;
    border: 0px;
}

#components {
    /*The "components" label*/
    position: absolute;
    font-weight: 700;
    top: 15px;
    left: -24px;
    font-size: 20px;
    color: black;
    font-family: "Fira Sans";
    background-color: darkgray;
    width: 660px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarTools {
    /* This is the "Tools" label in the sidebar. */
    position: absolute;
    font-weight: 700;
    top: 15px;
    left: 665px;
    font-size: 20px;
    font-family: "Fira Sans";
    color: black;
    background-color: darkgray;
    width: 265px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarLang {
    /* This is the "Tools" label in the sidebar. */
    position: absolute;
    font-weight: 700;
    top: 425px;
    left: 665px;
    font-size: 20px;
    font-family: "Fira Sans";
    color: black;
    background-color: darkgray;
    width: 265px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarDirectory {
    /* This is the "Main Directory" label in the sidebar. */
    font-weight: 700;
    font-size: 20px;
    font-family: "Fira Sans";
    color: black;
    background-color: darkgray;
    width: 950px;
    text-align: center;
    position: absolute;
    top: 680px;
    left: -24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#choose {
    position: absolute;
    top: 718px;
    left: 780px;
    width: 145px;
    height: 35px;
    font-family: "Fira Sans";
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mdd {
    position: absolute;
    top: 718px;
    left: -15px;
    width: 780px;
    height: 35px;
    background-color: gainsboro;
    font-size: 20px;
    font-family: "Fira Sans";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#parana {
    position: absolute;
    top: 55px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    font-family: "Fira Sans";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sitegen {
    position: absolute;
    top: 125px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    font-family: "Fira Sans";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calibration {
    position: absolute;
    top: 265px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-family: "Fira Sans";
     color: black;
    font-size: 18px;
    font-weight: 700;
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#storEditor {
    position: absolute;
    top: 195px;
    left: 680px;
    width: 250px;
    height: 60px;
     color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: "Fira Sans";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fileMan {
    position: absolute;
    top: 335px;
    left: 680px;
    width: 250px;
    height: 60px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: "Fira Sans";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#lineTool {
    position: absolute;
    top: -6px;
    left: 665px;
    background-color: darkgray;
    width: 2px;
    height: 385px;
}
#lineLang {
    position: absolute;
    top: 410px;
    left: 665px;
    background-color: darkgray;
    width: 2px;
    height: 220px;
}

#lineComp {
    position: absolute;
    top: -6px;
    left: -24px;
    background-color: darkgray;
    width: 2px;
    height: 645px;
}

#lineMain {
    position: absolute;
    top: 659px;
    left: -24px;
    background-color: darkgray;
    width: 2px;
    height: 73px;
}


#base-huFlag {
    position: absolute;
    top: 470px;
    left: 675px;
    cursor:pointer;
    }

#base-ukFlag {
    position: absolute;
    top: 470px;
    left: 763px;
    cursor:pointer;
    }
#base-gerFlag {
    position: absolute;
    top: 470px;
    left: 851px;
    cursor:pointer;
    }
#base-chiFlag {
    position: absolute;
    top: 535px;
    left: 763px;
    height: 50px;
    cursor:pointer;
    }
#base-rusFlag {
    position: absolute;
    top: 535px;
    left: 851px;
    height: 50px;
    cursor:pointer;
    }
#base-fraFlag {
    position: absolute;
    top: 600px;
    left: 675px;
    height: 50px;
    cursor:pointer;
    }
#base-porFlag {
    position: absolute;
    top: 600px;
    left: 851px;
    height: 50px;
    cursor:pointer;
    }
#base-espFlag {
    position: absolute;
    top: 600px;
    left: 763px;
    height: 50px;
    cursor:pointer;
    }    
#base-jpFlag {
    position: absolute;
    top: 535px;
    left: 675px;
    cursor:pointer;
    height: 50px;
    }

#plot_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#map_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#site_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#grid_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#grid_bb_button {
    position: absolute;
  top: 220px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#site_bb_button {
    position: absolute;
  top: 220px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#map_bb_button {
    position: absolute;
  top: 260px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#plot_bb_button {
    position: absolute;
  top: 260px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#base_bb_button {
    position: absolute;
  top: 260px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#exit {
    position: absolute;
    top: 210px;
    left: -190px;
    height: 90px;
    width: 90px;
    border: 0px;
       }
