/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */



#site {
    /*Site button */
    position: absolute;
    top: 60px;
    left: -30px;
    height: 290px;
    width: 290px;
    border: 4px solid gray;
}

#grid {
    /*Grid button */
    position: absolute;
    top: 60px;
    left: 300px;
    /*filter: grayscale(100%);*/
    height: 290px;
    width: 290px;
    border: 4px solid gray;
}

#show {
    /*show button */
    position: absolute;
    top: 370px;
    left: -30px;
    height: 290px;
    width: 290px;
    border: 4px solid gray;
}

#map {
    /*map button */
    position: absolute;
    top: 370px;
    left: 300px;
    /*filter: grayscale(100%);*/
    height: 290px;
    width: 290px;
    border: 4px solid gray;
}

#components {
    /*The "components" label*/
    position: absolute;
    font-weight: 700;
    top: 15px;
    left: -24px;
    font-size: 20px;
    color: black;
    font-family: "Trebuchet MS";
    background-color: darkgray;
    width: 660px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarTools {
    /* This is the "Tools" label in the sidebar. */
    position: absolute;
    font-weight: 700;
    top: 15px;
    left: 665px;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: black;
    background-color: darkgray;
    width: 265px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarLang {
    /* This is the "Tools" label in the sidebar. */
    position: absolute;
    font-weight: 700;
    top: 425px;
    left: 665px;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: black;
    background-color: darkgray;
    width: 265px;
    text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainSideBarDirectory {
    /* This is the "Main Directory" label in the sidebar. */
    font-weight: 700;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: black;
    background-color: darkgray;
    width: 950px;
    text-align: center;
    position: absolute;
    top: 680px;
    left: -24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#choose {
    position: absolute;
    top: 718px;
    left: 780px;
    width: 145px;
    height: 35px;
    font-family: "Trebuchet MS";
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mdd {
    position: absolute;
    top: 718px;
    left: -15px;
    width: 780px;
    height: 35px;
    background-color: gainsboro;
    font-size: 20px;
    font-family: "Trebuchet MS";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#parSweep {
    position: absolute;
    top: 55px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    font-family: "Trebuchet MS";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sitegen {
    position: absolute;
    top: 125px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    font-family: "Trebuchet MS";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calibration {
    position: absolute;
    top: 195px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-family: "Trebuchet MS";
    font-weight: 700;
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#storEditor {
    position: absolute;
    top: 265px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    font-family: "Trebuchet MS";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fileMan {
    position: absolute;
    top: 335px;
    left: 680px;
    width: 250px;
    height: 60px;
    font-weight: 700;
    font-family: "Trebuchet MS";
    background-color: gainsboro;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#lineTool {
    position: absolute;
    top: -6px;
    left: 665px;
    background-color: darkgray;
    width: 2px;
    height: 385px;
}
#lineLang {
    position: absolute;
    top: 410px;
    left: 665px;
    background-color: darkgray;
    width: 2px;
    height: 155px;
}

#lineComp {
    position: absolute;
    top: -6px;
    left: -24px;
    background-color: darkgray;
    width: 2px;
    height: 645px;
}

#lineMain {
    position: absolute;
    top: 659px;
    left: -24px;
    background-color: darkgray;
    width: 2px;
    height: 73px;
}


#base-huFlag {
    position: absolute;
    top: 470px;
    left: 675px;
    cursor:pointer;
    }

#base-ukFlag {
    position: absolute;
    top: 470px;
    left: 763px;
    cursor:pointer;
    }
#base-gerFlag {
    position: absolute;
    top: 470px;
    left: 851px;
    cursor:pointer;
    }
#base-jpFlag {
    position: absolute;
    top: 535px;
    left: 675px;
    cursor:pointer;
    }
 /*.mainSideBar {
   Tool buttons in base
    position: absolute;
    top: 80px;
}

#exit {
    position: absolute;
    top: 581px;
    left: 670px;
    width: 260px;
    height: 70px;
    border: 1px solid gray;
    border-radius:4px;
    
}*/
#exit {
    position: absolute;
    top: 210px;
    left: -190px;
    height: 90px;
    width: 90px;
    border: 0px;
       }
