/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */
.modal-body {
    height: 650px;
    overflow: hidden;    
}

.modal-title {
    font-size: 20px; 
    color: black;
    font-weight: bold;
}

#griddiv-pukli {
    height: 650px;
    overflow-y: scroll;
    color: black;
    font-size: 16px;
}

#griddiv-pukli th {
    font-size: 18px;
    font-weight: bold;
} 

#griddiv-story_container .control-label {
    position: absolute;
    top: 21px;
    right: 745px;
    width: 125px;
    text-align:end;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-story_container .selectize-input{
    position: absolute;
    left: 90px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    width: 260px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}


#griddiv-alias_container .form-control{
    position: absolute;
    top: 14px;
    left: 368px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     width: 555px;
}

#griddiv-gridres_container {
    position: absolute;
    top: 70px;   
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    display: none;
}

#griddiv-gridres_container .selectize-input.items.full.has-options.has-items {
    width: 140px;
    position: absolute;
    top: -45px;
    left: 145px;
  display: none;
}

#griddiv-climproj_container .selectize-input.items.full.has-options.has-items {
    width: 615px;
    position: absolute;
    top: 55px;
    left: 190px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-climproj_container label {
    position: absolute;
    top: 76px;
    right: 644px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-soildb_container .selectize-input.items.full.has-options.has-items {
    width: 615px;
    position: absolute;
    top: 105px;
    left: 190px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-soildb_container label {
    position: absolute;
    top: 126px;
    right: 644px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-ensclim_container {
    position: absolute;
    top: 70px;
    left: 815px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    width: 130px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

/*.bootstrap-switch-id-griddiv-ensclim .bootstrap-switch-label{
height: 33px;
}*/

#griddiv-ensalg_container {
    position: absolute;
    top: 167px;
    left: 815px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

/*.bootstrap-switch-id-griddiv-ensalg .bootstrap-switch-label {
height: 33px;
}*/

#griddiv-enssoil_container {
    position: absolute;
    top: 120px;
    left: 815px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    width: 130px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.bootstrap-switch-id-griddiv-enssoil .bootstrap-switch-label {
height: 33px;
}

#griddiv-repcheck_container {
    position: absolute;
    top: 650px;
    left: 785px;
    color: black;
    font-family: Fira Sans;
    z-index: 1;
    width: 130px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkone_container {
    position: absolute;
      top: 601px;
    left: 349px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checktwo_container {
    position: absolute;
      top: 642px;
    left: 349px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkthree_container {
    position: absolute;
      top: 681px;
    left: 349px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkfour_container {
    position: absolute;
      top: 722px;
    left: 349px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkfive_container {
    position: absolute;
      top: 559px;
    left: 754px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checksix_container {
    position: absolute;
      top: 601px;
    left: 754px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkseven_container {
    position: absolute;
      top: 642px;
    left: 754px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checkeight_container {
    position: absolute;
      top: 681px;
    left: 754px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-checknine_container {
    position: absolute;
      top: 722px;
    left: 754px;
    height: 29px;
    width: 14px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-annual_container {
    position: absolute;
    top: 250px;
    left: 190px;
    font-size: 16px;
    height: 35px;
    color: black;
    width: 180px;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-dailyout_container {
    position: absolute;
    top: 250px;
    left: 395px;
    font-size: 16px;
    height: 35px;
    color: black;
    width: 180px;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}
/*.bootstrap-switch-id-griddiv-annual .bootstrap-switch-label {
    height: 35px;
}

#griddiv-annual_container .sw-switchInput{
display: none;
}*/

#griddiv-algosel_container .control-label{
    position: absolute;
    top: 173px;
    right: 644px;
    font-size: 16px;
    color: black;
    width: 220px;
    text-align: end;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-algosel_container .selectize-input.items.full.has-options.has-items {
    width: 615px;
    position: absolute;
    left: 190px;
    top: 152px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-outsq_container .form-control.shinyjs-resettable.shiny-bound-input {
    width: 400px;
    position: absolute;
    left: 190px;
    top: 210px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-outsq_container label {
    position: absolute;
    right: 644px;
    top: 216px;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-StartSim {
    position: absolute;
    top: 210px;
    left: 600px;
    height: 75px;
    width: 323px;
    font-size: 26px;
    font-family: Fira Sans;
    color: black;
    font-weight: bold;
    background-color: gainsboro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-Map {
    position: absolute;
    top: 687px;
    left: 785px;
    height: 65px;
    width: 133px;
    font-size: 26px;
    font-family: Fira Sans;
    color: black;
    font-weight: bold;
    background-color: gainsboro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-Report {
    position: absolute;
    top: 614px;
    left: 785px;
    height: 45px;
    width: 133px;
    font-size: 26px;
    font-family: Fira Sans;
    color: black;
    font-weight: bold;
    background-color: gainsboro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-RunQuery {
    position: absolute;
    top: 557px;
    left: 785px;
    height: 45px;
    width: 133px;
    font-size: 26px;
    font-family: Fira Sans;
    color: black;
    padding: 0px;
    font-weight: bold;
    background-color: gainsboro;
    white-space: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-queryalias_container .form-control.shinyjs-resettable.shiny-bound-input {
    width: 300px;
    position: absolute;
    top: 509px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-queryalias_container label {
    position: absolute;
    top: 487px;
    width: 200px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-metadata_container .form-control.shinyjs-resettable.shiny-bound-input {
    width: 603px;
    position: absolute;
    top: 509px;
    left: 316px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
}

#griddiv-metadata_container label {
    position: absolute;
    top: 485px;
    left: 316px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    width: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-climprojquery_container {
    position: absolute;
    top: 490px;
    display:none;
}

#griddiv-climprojquery_container label {
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display:none;
}

#griddiv-climprojquery_container .form-group {
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    width: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display:none;
}

#griddiv-climprojquery_container .selectize-input {
position: absolute;
    top: -14px;
    display:none;
}

#griddiv-algselquery_container {
    position: absolute;
    top: 490px;
    left: 320px;
    display:none;
}

#griddiv-algselquery_container label {
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display:none;
}

#griddiv-algselquery_container .form-group {
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    width: 598px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display:none;
}

#griddiv-algselquery_container .selectize-input {
position: absolute;
    top: -14px;
    left: -2px;
    display:none;
}

#griddiv-time_container .control-label {
    position: absolute;
    top: 561px;
    right: 640px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    font-weight: bold;
    width: 100px;
    color: blue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-time_container .selectize-input {
    position: absolute;
    right: 35px;
    top: 540px;
    width: 85px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-until_container {
    position: absolute;
    top: 545px;
    left: 268px;
}

#griddiv-until_container .control-label {
    position: absolute;
    top:14px;
    right:291px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    font-weight:normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-until_container .selectize-input {
    position: absolute;
    right: 203px;
    width: 85px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_1_container {
    position: absolute;
    top: 588px;
}

#griddiv-sqlfunc_1_container .control-label {
    position: absolute;
    top: 16px;
    right: 304px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_1_container .selectize-input.items {
    position: absolute;
    left: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_1_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_2_container {
    position: absolute;
    top: 628px;
}

#griddiv-sqlfunc_2_container .control-label {
    position: absolute;
    top: 16px;
    right: 304px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_2_container .selectize-input.items {
    position: absolute;
    left: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_2_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_3_container {
    position: absolute;
    top: 668px;
}

#griddiv-sqlfunc_3_container .control-label {
    position: absolute;
    top: 16px;
    right: 304px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_3_container .selectize-input.items {
    position: absolute;
    left: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_3_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_4_container {
    position: absolute;
    top: 716px;
}

#griddiv-sqlfunc_4_container .control-label {
    position: absolute;
    top: 6px;
    right: 304px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_4_container .selectize-input.items {
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_4_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_5_container {
    position: absolute;
    top: 547px;

}

#griddiv-sqlfunc_5_container .control-label {
    position: absolute;
    top: 16px;
    left: 378px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_5_container .selectize-input.items {
    position: absolute;
    left: 405px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_5_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 385px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}


#griddiv-sqlfunc_6_container {
    position: absolute;
    top: 588px;
}

#griddiv-sqlfunc_6_container .control-label {
    position: absolute;
    top: 16px;
    left: 377px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_6_container .selectize-input {
    position: absolute;
    left: 405px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_6_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_7_container {
    position: absolute;
    top: 628px;
}

#griddiv-sqlfunc_7_container .control-label {
    position: absolute;
    top: 16px;
    left: 377px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_7_container .selectize-input {
    position: absolute;
    left: 405px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_7_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_8_container {
    position: absolute;
    top: 668px;
}

#griddiv-sqlfunc_8_container .control-label {
    position: absolute;
    top: 16px;
    left: 377px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_8_container .selectize-input {
    position: absolute;
    left: 405px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_8_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_9_container {
    position: absolute;
    top: 707px;
}

#griddiv-sqlfunc_9_container .control-label {
    position: absolute;
    top: 16px;
    left: 377px;
    font-size: 16px;
    font-family: Fira Sans;
    color: red;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_9_container .selectize-input {
    position: absolute;
    left: 405px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-sqlfunc_9_container .selectize-dropdown-content {
    position: absolute;
    bottom: 0px;
    width: 365px;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#query {
    position: absolute;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
    font-weight: bold;
    top: 278px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#griddiv-queryTable  {
  height: 170px !important;
  width: 920px !important;
  background-color: white;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  position: absolute;
  top: 300px !important;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}


#griddiv-queryTable .dataTables_scrollBody td:nth-child(1){
  display:none;
}

#griddiv-queryTable .dataTables_scrollBody td:nth-child(2){
  border-color:white;
}

#DataTables_Table_1_filter.dataTables_filter {
 position: absolute;
 top: 480px;
 left: 585px;
  width: 335px;
}

#Grid-banner-div img{
  cursor: default; 
    }

span.reddi {
    color: red;
}
span.timeSlice {
    color: blue;
}

/*
#griddiv-queryTable .dataTables_scrollBody thead{
  display:none;
}
#DataTables_Table_1_filter.dataTables_filter {
 position: absolute;
 top: 480px;
 left: 585px;
  width: 335px;
}
#griddiv-queryTable .dataTables_scrollBody {
  border-bottom: 0px !important;
  border-bottom-color: lightgrey !important;
  border-bottom-style: solid;
  border-bottom: 1px;
  height: 245px !important;
  width: 920px !important;
  background-color: white;
  font-size: 16px;
  border: 1px;
  border-color: lightgrey;
  border-style: solid;
  overflow-y: scroll !important;
    position: absolute;
    top: 220px;
}*/

.griddiv-selected-vars {
    background-color: #b0bed9;
    border: 0;
}

#griddiv-alias_container {
    position: absolute;
    top:16px;
    left: 360px;
    border-radius: 3px;
    width: 562px;
    height: 31px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: white;
    font-size: 16px;
    color: black;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}


.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: lightblue;
    color: black;
}

.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {

        line-height: unset!important;

}
