/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */
#mapdiv-invert_container {
    position: absolute;
    top: 90px;
    left: 365px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

#mapdiv-invert_container span{
    position: absolute;
    top: -1px;
    left: 17px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

#mapdiv-countrycont_container {
    position: absolute;
    top: 90px;
    left: 485px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
    width: 180px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

#mapdiv-latlon_container {
    position: absolute;
    top: 90px;
    left: 655px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
    width: 180px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

#mapdiv-datasource_container .form-group.shiny-input-container label{
    position: absolute;
    top: 20px;
    right: 745px;
    width: 100px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-datasource_container .selectize-control{
    position: absolute;
    top: 15px;
    left: 80px;
    width: 850px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-metadata_container .form-group.shiny-input-container label{
    position: absolute;
    top: 60px;
    right: 755px;
     font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-metadata_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 55px;
    left: 80px;
    width: 850px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-palette_container .form-group.shiny-input-container label{
    position: absolute;
    top: 100px;
    right: 755px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-palette_container .selectize-control{
    position: absolute;
    top: 95px;
    left: 80px;
    width: 260px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-colnumb_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    right: 202px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-colnumb_container .selectize-control{
    position: absolute;
    top: 185px;
    left: 632px;
    width: 80px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-min_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    right: 745px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
    width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-min_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 185px;
    left: 80px;
    width: 105px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-intv_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    right: 285px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-intv_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 185px;
    left: 548px;
    width: 110px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-interval_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    right: 405px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-interval_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 185px;
    left: 428px;
    width: 100px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#mapdiv-minprec_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    left: 742px;
  width: 120px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-minprec_container .selectize-control{
    position: absolute;
    top: 185px;
    left: 855px;
    width: 65px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-max_container .form-group.shiny-input-container label{
    position: absolute;
    top: 190px;
    right: 630px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-max_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 185px;
    left: 210px;
    width: 105px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapdiv-radio_container {
    position: absolute;
    top: 171px;
    left: 215px;
  display: inline !important;
}

#mapdiv-radio_container .shiny-options-group{
    position: absolute;
  border-width: 0px;
}

#mapdiv-radio_container input {
    position: absolute;
    left: 150px;
}

/*#mapdiv-maxprec_container .form-group.shiny-input-container label{
    position: absolute;
    top: 230px;
    right: 295px;
    font-size: 16px;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-maxprec_container .selectize-control{
    position: absolute;
    top: 225px;
        left: 540px;
    width: 100px;
    font-size: 16px;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
#mapdiv-maskcol_container .form-group.shiny-input-container label{
    position: absolute;
    top: 240px;
    right: 740px;
    width: 100px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-maskcol_container .selectize-control{
    position: absolute;
    top: 235px;
    left: 80px;
    width: 260px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-maptitle_container .form-group.shiny-input-container label{
    position: absolute;
    top: 290px; 
    right: 755px;
    font-size: 16px;
    font-family: Trebuchet MS;
    font-weight: normal;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapdiv-maptitle_container .form-control.shinyjs-resettable{
    position: absolute;
    top: 285px; 
    left: 80px;
    width: 840px;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*#maskpreview {
    position: absolute;
    top: 310px;
    right: 635px;
    font-size: 16px;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#palettepreview {
    position: absolute;
    top: 100px;
    right: 725px;
    font-size: 16px;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
#mapdiv-create {
    position: absolute;
    top: 335px;
    left: -20px;
    height: 60px;
    width: 940px;
    font-size: 26px;
    font-family: Trebuchet MS;
    font-weight: bold;
    background-color: gainsboro;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*#mapdiv-save {
    position: absolute;
    top: 692px;
    left: 650px;
    height: 60px;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    background-color: gainsboro;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
#mapdiv-greensc {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 700px;
    height: 30px;
}
#mapdiv-greysc {
 position: absolute;
 top:237px;
    left: 360px;
 width: 420px;
height: 30px;
}

#basearrow {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 43px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#backgrid {
    position: absolute;
  top: 220px;
  left: -138px;
  height: 43px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}
#Map-banner-div img{
  cursor: default; 
    }


#mapdiv-map_right img {
    position: absolute;
    top: 435px;
    left: 470px;
    height: 290px;
    cursor: zoom-in;
}

#mapdiv-map_left img {
    position: absolute;
    top: 435px;
    left: -15px;
    height: 290px;
    cursor: zoom-in;
}

.tozoom {
    position: fixed !important;
    display: block;
    top: 0 !important;
    /*margin-left: auto;*/
    z-index: 9;
    height: 100vh !important;
    /*margin-right: auto;*/
    /* left: unset !important; */
    cursor: zoom-out !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    left: 0px !important;
}
