/* Suggestions: I would suggest to use position: absolute css declaration in every
place. The positions starts at the top-left corner of the root window,
which is the window except the banner. */
  
#mapdiv-invert_container {

position: absolute;
top: 94px;
left: 407px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;  
}

#mapdiv-countrycont_container {
position: absolute;
top: 94px;
left: 535px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
width: 180px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;  
}

#mapdiv-latlon_container {
position: absolute;
top: 94px;
left: 718px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
width: 180px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;  
}

#mapdiv-datasource_container .form-group.shiny-input-container label{
position: absolute;
top: 18px;
right: 730px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-datasource_container .selectize-control{

position: absolute;
top: 12px;
left: 105px;
width: 815px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-metadata_container .form-group.shiny-input-container label{

position: absolute;
top: 60px; 
right: 730px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}
#mapdiv-metadata_container .form-control.shinyjs-resettable{
position: absolute;
top: 54px; 
left: 105px;
width: 815px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-palette_container .form-group.shiny-input-container label{
position: absolute;
top: 102px;
right: 730px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-palette_container .selectize-control{

position: absolute;
top: 97px;
left: 105px;
width: 260px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-colnumb_container .form-group.shiny-input-container label{

position: absolute;
top: 185px;
left: 353px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-colnumb_container .selectize-control{

position: absolute;
top: 180px;
left: 407px;
width: 80px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-bw_container .form-group.shiny-input-container label{
position: absolute;
top: 185px;
left: 528px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-bw_container .form-control.shinyjs-resettable{
position: absolute;
top: 180px;
left: 593px;
width: 95px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-min_container .form-group.shiny-input-container label{
position: absolute;
top: 185px;
right: 730px;
font-size: 16px;
white-space: nowrap;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-min_container .form-control.shinyjs-resettable{

position: absolute;
top: 180px;
left: 105px;
width: 95px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-minprec_container .form-group.shiny-input-container label{
position: absolute;
top: 185px;
right: -2px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-minprec_container .selectize-control{

position: absolute;
top: 180px;
left: 837px;
width: 83px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-max_container .form-group.shiny-input-container label{
position: absolute;
top: 184px;
left: 205px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-max_container .form-control.shinyjs-resettable{
position: absolute;
top: 180px;
left: 215px;
width: 95px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-radio_container {
    position: absolute;
    top: 186.5px;
    left: 193px;
    display: inline !important;
}

#mapdiv-radio_container .checkbox-inline, .radio-inline, .shiny-options-group{
    border-width: 0px;
    margin-right: 145px;
    display: inline !important;
}

#mapdiv-radio_container input {
    position: absolute;
    left: 163px;
}

#mapdiv-maxprec_container .form-group.shiny-input-container label{
position: absolute;
top: 180px;
right: 340px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-maxprec_container .selectize-control{
position: absolute;
top: 180px;
left: 340px;
width: 100px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mapdiv-maskcol_container .form-group.shiny-input-container label{

position: absolute;
top: 228px;
right: 730px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-maskcol_container .selectize-control{

position: absolute;
top: 223px;
left: 105px;
width: 260px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-maptitle_container .form-group.shiny-input-container label{

position: absolute;
top: 271px; 
right: 730px;
font-size: 16px;
font-family: Trebuchet MS;
font-weight: normal;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#mapdiv-maptitle_container .form-control.shinyjs-resettable{

position: absolute;
top: 266px; 
left: 105px;
width: 815px;
font-size: 16px;
font-family: Trebuchet MS;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

/*#maskpreview {
  position: absolute;
top: 350px;
right: 730px;
font-size: 16px;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#palettepreview {
position: absolute;
top: 120px;
right: 730px;
font-size: 16px;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}*/

#mapdiv-create {

position: absolute;
top: 314px;
left: -20px;
height: 60px;
width: 940px;
font-size: 26px;
font-family: Trebuchet MS;
font-weight: bold;
background-color: gainsboro;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}
/*#mapdiv-save {
  position: absolute;
top: 692px;
left: 650px;
height: 60px;
width: 280px;
font-size: 20px;
font-weight: bold;
background-color: gainsboro;
color: black;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}*/
  
#mapdiv-greensc {

position: absolute;
top: 141px;
left: 105px;
width: 700px;
height: 30px;
}
#mapdiv-greysc {
position: absolute;
top: 226px;
left: 379.5px;
width: 423px;

height: 30px;
}

#basearrow {
position: absolute;
top: 220px;
left: -228px;
height: 43px;
width: 75px;
border-width: 0px;
border-radius: 1px;
}

#backgrid {
position: absolute;
top: 220px;
left: -138px;
height: 43px;
width: 75px;
border-width: 0px;
border-radius: 1px;
}

#Map-banner-div img{
cursor: default; 
}

#mapdiv-map_right img {
position: absolute;
top: 420px;
left: 470px;
height: 290px;
cursor: zoom-in;
}

#mapdiv-map_left img {
position: absolute;
top: 420px;
left: -15px;
height: 290px;
cursor: zoom-in;
}

.tozoom {
  position: fixed !important;
  display: block;
  top: 0 !important;
  /*margin-left: auto;*/
    z-index: 9;
  height: 100vh !important;
  /*margin-right: auto;*/
    /* left: unset !important; */
    cursor: zoom-out !important;
  margin: 0 auto !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  left: 0px !important;
}
