/* Suggestions: I would suggest to use posinition: absolute css declaration in every
                place. The positions starts at the top-left corner of the root window,
                which is the window except the banner. */

#paranadiv-paranado {
    position: absolute;
    top: 675px;
    left: -19px;
    height: 70px;
    width: 953px;
    font-size: 34px;
    font-weight: bold;
    background-color: gainsboro;
    color: black;
      font-family: Fira Sans;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaini_container label{
    position: absolute;
    top: 10px;
    left: 315px;
    font-weight: bold;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaini_container .selectize-control{
    position: absolute;
    top: 33px;
    width: 620px;
    left: 314px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranait_container label {
    position: absolute;
    top: 556px;
    left: 196px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranait_container .form-control {
    position: absolute;
    top: 550px;
    left: 354px;
    width: 180px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaexp_container label {
    position: absolute;
    top: 80px;
    left: 315px;
    font-weight: bold;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaexp_container .selectize-control {
    position: absolute;
    top: 103px;
    width: 305px;
    left: 314px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-ctlfile_container label {
    position: absolute;
    top: 80px;
    left: 630px;
    font-weight: bold;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-ctlfile_container .selectize-control {
    position: absolute;
    top: 103px;
    width: 305px;
    left: 629px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranatreat_container label {
    position: absolute;
    top: 150px;
    left: 355px;
    font-weight: bold;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranatreat_container .selectize-control {
    position: absolute;
    top: 173px;
    width: 580px;
    left: 354px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-charfunc_container label {
    position: absolute;
    top: 606px;
    width: 580px;
    left: 60px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-charfunc_container .selectize-input {
    position: absolute;
    top: 170px;
    width: 580px;
    left: 354px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-metfunc_container label {
    position: absolute;
    top: 606px;
    width: 300px;
    left: 126px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

#paranadiv-metfunc_container .selectize-input {
    position: absolute;
    top: 585px;
    width: 580px;
    left: 354px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

#paranatype {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaradio_container {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: normal;
    font-size: 16px;
    font-family: Fira Sans;
    color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paranadiv-paranaradio_container .radio-inline {
  margin-left: 0px;
  margin-top: 10px;
}

#paranadiv-paranaradio_container .shiny-options-group {
  border-width: 0px;
}

#paranadiv-paranaimage img{
position: absolute;
  top: 180px;
  left: 10px;
  width: 920px;
  height: 350px;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
}
