#showdiv-show{
  position:absolute;
  top: 695px;
  left:70px;
  width:320px;
  height: 55px;
  background-color: gainsboro;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: bold;
  color: black;
}

#showdiv-export{
  position:absolute;
  top: 695px;
  left: 405px;
  width: 250px;
  height: 55px;
  background-color: gainsboro;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: bold;
  color: black;
}


/* #showdiv-plotka-dateInput .control-label{ */
/*   position: absolute; */
/*   top: 448px; */
/*   font-weight: bold; */
/*   color: black; */
/* } */
/*  */
/* #showdiv-plotka-ddec { */
/*   position: absolute; */
/*   top: 440px; */
/*   left: 60px; */
/* } */
/*  */
/* #showdiv-plotka-dinc { */
/*   position: absolute; */
/*   top: 440px; */
/*   left: 352px; */
/* } */
/*  */
/* /* .svg-container{ */ 
/* /*   position: absolute; */ 
/* /*   top: 60px;  */ 
/* /* } */ 
/*  */
/* #showdiv-plotka-dateInput .form-control.shinyjs-resettable{ */
/*   position: absolute; */
/*   top: 440px; */
/*   left: 140px; */
/*   width: 200px; */
/* } */
/*  
*/

div.xyRangeInput .form-group.shiny-input-container {
     width: 130px;
     font-size: 16px;
     font-family: Fira Sans;
     color: black;
     display: flex;
     padding-top: 25px;
}

div.xyRangeInput label {
    font-size: 18px;
    margin-right: 10px;
    margin-top: 5px;
}

div.xyRangeInput input {
    font-size: 18px;
}

div.xmax label {
    color: blue;
}



#showdiv-del{
  position:absolute;
  top: 448px;
  left: -312px;
  width: 335px;
  height: 55px;
  background-color: gainsboro;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: bold;
  color: black;
}

#showdiv-del {
position:absolute;
  top: 448px;
  left: -312px;
  width: 335px;
  height: 55px;
  background-color: gainsboro;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: bold;
  color: black;
}


div.profPlotCont {
  width: 650px;
  display: flex;
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/*div.profAxis {
  display: flex;
}*/

div.profPlotCont >button {
margin-left: 15px;
  height:34px;
  margin-top: 25px;
  font-size: 18px;
    text-align: center;
  font-family: "Fira Sans";
}

div.profPlotCont >.shiny-date-inputte-input {
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: "Fira Sans";
}

div.profPlotCont  .form-group {
  color: white;
  margin-left: 15px;
}

div.profPlotCont .form-control {
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: "Fira Sans";
}


/*#showdiv-varset_container {
  position: absolute;
  top: 135px;
  left:-310px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

#showdiv-varset_container .control-label{
  position: absolute;
  top: 176px;
  left: 395px;
  width: 65px;
  font-weight: normal;
  color: black;
  font-size: 16px;
  font-family: Fira Sans;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#showdiv-varset_container .selectize-input{
  position: absolute;
  top: 155px;
   left: 445px;
  width: 195px;
  font-size: 16px;
  font-family: Fira Sans;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 




#showdiv-cellid_container {
  position: absolute;
  top: 720px;
  left:-310px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
} 


#showdiv-cellid_container .form-control {
  position: absolute;
  top: -4px;
  left: 70px;
  width: 235px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  display: none;
} 

#showdiv-cellid_container .shiny-input-container label {
  font-weight: normal;
  color: black;
  display: none;
} 


#showdiv-compfunc_container .selectize-input {
  position: absolute;
  top: 590px;
  left:195px;
  font-size: 16px;
  font-family: Fira Sans;
  width: 440px;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
} 

#showdiv-compfunc_container .control-label{
    position: absolute;
    top: 610px;
    left: 78px;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: normal;
  width: 300px;
  color: black;
  display: none;
}

#showdiv-compfunc_container .has-options{
    position: absolute;
    top: 0px;
    left: 525px;
    width: 440px;
    display: none;
}

#showdiv-compbase_container .selectize-input {
  position: absolute;
  top: 630px;
  left:195px;
  font-size: 16px;
  font-family: Fira Sans;
  width: 440px;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
} 

#showdiv-compbase_container .control-label{
    position: absolute;
    top: 650px;
    left: 100px;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: normal;
  width: 300px;
  color: black;
  display: none;
}

#showdiv-compbase_container .has-options{
    position: absolute;
    width: 440px;
}


#simres {
  position: absolute;
  top: 15px;
  left: -312px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 



#gridsimres {
  position: absolute;
  top: 515px;
  left: -312px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
} 

#observations {
  position: absolute;
  top: 15px;
  left:70px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#createplot {
  position: absolute;
  top: 185px;
  left:70px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#colone {
    position: absolute;
  top: 215px;
  left:69px;
  width: 282px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#coltwo {
  position: absolute;
  top: 215px;
  left:352px;
  width: 84px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#colthree {
 position: absolute;
  top: 215px;
  left:437px;
  width: 84px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#colfour {
  position: absolute;
  top: 215px;
  left:522px;
  font-weight: bold;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  width: 109.5px;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#showdiv-framelineone {
  position: absolute;
  top: 219px;
  left: 69px;
  height: 360px;
  background-color: #7F7A7A;
  width: 1px;
  color: #7F7A7A;
}

#showdiv-framelinetwo {
  position: absolute;
  top: 579px;
  left: 69px;
  height: 1px;
  background-color: #7F7A7A;
  width: 589px;
  color: #7F7A7A;
}

#showdiv-framelinethree {
  position: absolute;
  top: 219px;
  left: 657px;
  height: 360px;
  background-color: #7F7A7A;
  width: 1px;
  color: #7F7A7A;
}

#showdiv-framelinefour {
  position: absolute;
  top: 218px;
  left: 630px;
  height: 1px;
  background-color: #7F7A7A;
  width: 28px;
  color: #7F7A7A;
}

#repavg {
  position: absolute;
  top: 118px;
  left: 500px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  width: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

#showdiv-averagep {
  position: absolute;
  top: 105px;
  left: 488px;
}

#showdiv-alias_container .form-control.shinyjs-resettable.shiny-bound-input{
    width: 255px;
    position: absolute;
    top: 113px;
    left:203px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#showdiv-alias_container label{
    position: absolute;
    top: 118px;
    left:162px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#showdiv-experimentID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 450px;
    position: absolute;
    top: 23px;
    left:187px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-treatmentID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 450px;
    position: absolute;
    top: 60px;
    left:187px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-groupID_container .selectize-control.shinyjs-resettable.single .selectize-input{
    width: 430px;
    position: absolute;
    top: 628px;
    left:208px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-groupID_container .control-label{
    position: absolute;
    top: 648px;
    left: 70px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-experimentID_container .control-label{
    position: absolute;
    top: 43px;
    right: 354px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-treatmentID_container .control-label{
    position: absolute;
    top: 80px;
    right: 354px;
  font-size: 16px;
  font-family: Fira Sans;
  color: black;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#showdiv-table-output_container{
  position: absolute;
  top: 210px;
  left: 70px;
}


#plot_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#map_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#site_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#grid_bb_button_two {
    position: absolute;
  top: 220px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#grid_bb_button {
    position: absolute;
  top: 220px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#site_bb_button {
    position: absolute;
  top: 220px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#map_bb_button {
    position: absolute;
  top: 260px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}

#plot_bb_button {
    position: absolute;
  top: 260px;
  left: -138px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}
#base_bb_button {
    position: absolute;
  top: 260px;
  left: -228px;
  height: 30px;
  width: 75px;
  border-width: 0px;
  border-radius: 1px;
}
#Show-banner-div img{
  cursor: default; 
    }



.modal-lg {
    width: 95%;
}

.bigholder {
    display: flex;
    height: 50px;
}
